{% extends "user_layout.html" %}
{% block content %}
{% if shows %}
<div class="container mt-4">
  <div class="row text-center">
    {% for show in shows %}
    <div class="col-sm-4 mb-3">
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">{{ show.name }}</h5>
          <h6 class="card-subtitle mb-2 text-muted">{{ show.tags }}</h6>

          {% if show.rating >= 8 %}
            <span class="badge badge-warning mb-2">Fast Filling</span>
          {% endif %}

          <a href="{{ url_for('book_ticket', show_id=show.id) }}" class="btn btn-outline-primary">

            Book Now
          </a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% else %}
  <p class="text-center text-muted mt-4">No shows available currently.</p>
{% endif %}

<div class="text-center mt-3">
  <button type="button"
    class="btn btn-primary"
    data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false"
    aria-label="Toggle navigation">
    + Add Venue
  </button>
</div>
{% endblock %}
